<%= form_for(@lecture) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :reading %><br>
    <%= f.text_area :reading %>
  </div>
  <div class="field">
    <%= f.label :quizQuestions %><br>
    <%= f.text_area :quizQuestions %>
  </div>
  <div class="field">
    <%= f.label :quizAnswers %><br>
    <%= f.text_area :quizAnswers %>
  </div>
  <div class="field">
    <%= f.label :lesson_id %><br>
    <%= f.text_field :lesson_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
