<%- model_class = Lecture -%>
<div class="page-header">
  <h1><%=@course.name %></h1>
</div>


<dl class="dl-horizontal">
  <dt><h4><strong>Lesson: </strong></h4></dt>
  <dd><h4><strong><%= @lesson.name %> - <%=@lecture.name %></strong></h4></dd>
  <dt><strong><%= model_class.human_attribute_name(:reading) %>:</strong></dt>
  <dd><%= @lecture.reading.html_safe %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:progress) %>:</strong></dt>
  <dd><%= 100*((@lecture.id.to_i - 1 )/ @totalLectures.to_i )%>%</dd>
</dl>

<br>

<h4>Quiz for Lesson "<%= @lesson.name %>" - <%= @lecture.name %></h4>

<br>
<div>

  <label><%=@lecture.quizQuestions %></label>
</div>

<div id="answers">
  <% @options.each do |option| %>

      <%= radio_button_tag 'option', option %> <%= option%>
      <br />
  <%end %>
</div>

<br>

<a href="javascript:hideshow(document.getElementById('reading') )">Need a hint?</a><br>
<a href="javascript:checkAnswer()" class="btn btn-primary">Check your answer!</a>


<div id="correctAnswer", style="display:none">
  <p>Great Job!</p>
</div>

<div id="wrongAnswer", style="display:none">
  <p>Try again!</p>
</div>

<div id="reading", style="display:none">
  <p><%=@lecture.reading.html_safe %></p>
</div>

<br>
<br>
<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
            :back, :class => 'btn btn-default'  %>
<%= link_to 'Next', {controller: "lectures", action: "do_lecture", course_id: @course.id, id: @lesson.id, lecture_id: @lecture.id}, :class => 'btn btn-default' %>
<%# <%= link_to course.name, {controller: "courses", action: "show", course_id: course.id, lesson_id: 1, lecture_id: 1} %>

<script type="text/javascript">
  function hideshow(which){
    if (!document.getElementById)
      return
    if (which.style.display=="block")
      which.style.display="none"
    else
      which.style.display="block"
  }
</script>

<script type="text/javascript">
  function checkAnswer() {

    if (document.getElementById("option_Yes").checked == true) {
      alert("Good job!");
    } else {
      alert("Try again!");
    }
  }
</script>
