<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lecture.name %>
</p>

<p>
  <strong>Reading:</strong>
  <%= @lecture.reading %>
</p>

<p>
  <strong>Quizquestions:</strong>
  <%= @lecture.quizQuestions %>
</p>

<p>
  <strong>Quizanswers:</strong>
  <%= @lecture.quizAnswers %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @lecture.lesson %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
