
<h2><%= current_user.first_name %>'s profile:</h2>
<p><%= image_tag current_user.avatar.url(:thumb) %></p>

<br>
<br>
<br>

<div class="jumbotron">
  <h3>My Quizzes</h3>

  <ul>
    <% @courses.each do |course|%>
        <li style="font-size: large"><%= course.name %> &nbsp;&nbsp;&nbsp;<%= link_to "Start", {controller: "courses", action: "do_course", course_id: course.id, lesson_id: 1, lecture_id: 1}, {:class => "btn btn-xs btn-default"} %></li>
        <br>
    <% end %>
  </ul>
</div>

<br>
<br>
<br>

<div class="panel panel-default">
  <div class="panel-heading" style="font-size: x-large">Course Readings</div>

    <% @courses.each do |course|%>
        <div class = "panel-body">
          <li style="font-size: large"><%=  course.name %> <%= link_to "Start", {controller: "lessons", action: "view_lessons", course_id: course.id, lesson_id: 1, lecture_id: 1}, { :class => "btn btn-xs btn-default"} %></li>
        </div>
    <% end %>

</div>

<br>
<br>
<br>

  <div>
    <h3>Test your Knowledge</h3>
    <ul>
    <% @courses.each do |course|%>
     <li style="font-size: large"><%= link_to course.name, {controller: "courses", action: "do_course", course_id: course.id, lesson_id: 1, lecture_id: 1} %></li>
    <br>
      <% end %>
    </ul>
  </div>
<br>
<br>
<br>
