<% if notice %>
  <div class="notice" role="alert">
    <%= flash[:notice] %>
  </div>
<%end%>

<h2><%= current_user.first_name %>'s profile:</h2>
<p><%= image_tag current_user.avatar.url(:thumb) %></p>

<br>
<br>
<br>

<div>
  <h4>My Quizzes</h4>

  <ul>
    <% @courses.each do |course|%>
        <li style="font-size: large"><%= course.name %> &nbsp;&nbsp;&nbsp;<%= link_to "Start", {controller: "courses", action: "do_course", course_id: course.id, lesson_id: 1, lecture_id: 1}, {:style => "color:blue;", :class => "btn btn-xs btn-default"} %></li>
        <br>
    <% end %>
  </ul>
</div>

<br>
<br>
<br>

  <div>
    <h4>Start a new lecture</h4>
    <ul>
    <% @courses.each do |course|%>
     <li style="font-size: large"><%= link_to course.name, {controller: "courses", action: "do_course", course_id: course.id, lesson_id: 1, lecture_id: 1} %></li>
    <br>
      <% end %>
    </ul>
  </div>
<br>
<br>
<br>
<div>
  <h2>next works! with the ones below:</h2>
  <h4>Start a new course </h4>
  <ul>
    <% @courses.each do |course|%>
        <li style="font-size: large"><%= link_to course.name, {controller: "lessons", action: "view_lessons", course_id: course.id, lesson_id: 1, lecture_id: 1} %></li>
    <% end %>
  </ul>
</div>

<br>
<br>
<br>