<%- model_class = Course -%>
<div class="page-header">
  <h1><%=@course.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Lesson: <%= @lesson_id %>:</strong></dt>
  <dd></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:progress) %>:</strong></dt>
  <dd><%= @progress %>&#37;</dd>
</dl>

<br>

<h4>Quiz for Lesson "<%= @lesson.name %>" - <%= @lecture.name %></h4>

<br>
<div>

  <label><%=@lecture.quizQuestions %></label>
</div>

<div>
  <% @options.each do |option| %>

      <%= radio_button_tag 'option', option %> <%= option%>
      <br />
  <%end %>
</div>

<br>

<a href="javascript:checkAnswer()" class="btn btn-primary">Check your answer!</a>
<br>
<a href="javascript:hideshow(document.getElementById('reading') )">Need a hint?</a><br>


<div id="reading", style="display:none">
  <p><%=@lecture.reading %></p>
</div>

<br>
<br>
<br>

<%= link_to t('Exit', {controller: "courses", action: "show", course_id: course.id, lesson_id: , lecture_id: } %>
            , :class => 'btn btn-default'  %>
<%= link_to 'Next', @next, :class => 'btn btn-default' %>
<%# <%= link_to course.name, {controller: "courses", action: "show", course_id: course.id, lesson_id: 1, lecture_id: 1} %>

<script type="text/javascript">
  function hideshow(which){
    if (!document.getElementById)
      return;
    if (which.style.display=="block")
      which.style.display="none";
    else
      which.style.display="block";
  }
</script>

<script type="text/javascript">
  function checkAnswer() {

    var correct_answer = "option_" + "<%= @answer %>";

    if (document.getElementById(correct_answer).checked == true) {
      alert("Good job!");
    } else {
      alert("Try again!");
    }
  }
</script>