<%- model_class = Course -%>
<div class="page-header">
  <h1><%=@course.name %></h1>
</div>

<h3>Lesson: <%= @lesson_id %>:</h3>
<h4><%= model_class.human_attribute_name(:progress) %>:
  <%= @progress %>&#37;</h4>

<br>

<div class="jumbotron">

<h4>Quiz for Lesson "<%= @lesson.name %>" - <%= @lecture.name %></h4>

<br>
<div>

  <label><%=@lecture.quizQuestions %></label>
</div>

<div>
  <% @options.each do |option| %>

      <%= radio_button_tag 'option', option %> <%= option%>
      <br />
  <%end %>
</div>

<br>

<a href="javascript:checkAnswer()" class="btn btn-primary">Check your answer!</a>
<br>
<a href="javascript:hideshow(document.getElementById('reading') )">Need a hint?</a><br>


<div id="reading", style="display:none">
  <p><%=@lecture.reading.html_safe %></p>
</div>

</div>
<br>

<table>
  <tr>
    <td>
<%= button_to 'Exit', {controller: 'users', action: 'overview'}, :params => {user_id: current_user,
                     course_id: @course_id, lesson_id: @lesson_id, lecture_id: @lecture_id, save: 'true'}, :method => 'get',
            :class => 'btn btn-secondary' %>
    </td>

<td>
<%if @course_over %>
    <%= button_to 'Next', {controller: 'users', action: 'overview'}, :params => @params, :method => 'get',
                :onclick => 'alert("Congratulations! You have finished this quiz!")',  :class => 'btn btn-default', :disabled=> true, :id=> "next" %>
<%elsif @lesson_over %>
    <%= button_to 'Next', {controller: 'courses', action: 'do_course'},  :onclick => 'alert("You have finished this lesson! You have earned a badge!")',
                  :method => 'get', :class => 'btn btn-default', :disabled=> true, :id=> "next", :params => @params %>
<% else %>
    <%= button_to 'Next', {controller: 'courses', action: 'do_course'}, :method => 'get', :class => 'btn btn-default', :disabled=> true, :id=> "next", :params => @params %>
<% end %>
</td>
  </tr>
</table>



<script type="text/javascript">
  function hideshow(which){
    if (!document.getElementById)
      return;
    if (which.style.display=="block")
      which.style.display="none";
    else
      which.style.display="block";
  }
</script>

<script type="text/javascript">
  function checkAnswer() {

    var correct_answer = "option_" + "<%= @answer %>";

    if (document.getElementById(correct_answer).checked == true) {
      alert("Good job!");
      document.getElementById("next").disabled = false;
    } else {
      alert("Try again!");
    }
  }
</script>